.bookTitleCon{
    background: url(/public/assets/purple-gradient.png);
    
}
.subBookTitleCon{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}