.bookTitleCon{
    background: url(/public/assets/purple-gradient.png);
    
}

.subBookTitleCon{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3em 0;
}
.bookCoverCon{
    display: flex;
    padding: 3em 0;
    background-color: black;
}
.bookCover{
    width: 50%;
}
.quoteCon{
    position: relative;
    padding: 3em 0;
    color: #ffffff;
}
.quoteMarkUp{
    position: absolute;
    top: 2.5rem;
    left: -3rem;
    width: 15%;
}
.quoteMarkDown{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    transform: rotate(180deg);
     width: 15%;
}