.bookQuoteWrapMobile{
    display: grid;
    place-items: center;
    font-size: .79rem;
    line-height: 1.2rem;

    /* margin-left: 36em; */
    /* position: relative; */
    /* top: -1rem; */
    /* right: 7rem; */
    
    
}
.quoteConMobile{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    padding: 2em 1em 2em 1.5em;
    color: #ffffff;
    
}
.quoteMarkUpMobile{
    position: absolute;
    top: -.1rem;
    left: -.2rem;
    width: 15%;
}
.quoteMarkDownMobile{
    position: absolute;
    bottom: -.1rem;
    right: -.2rem;
    transform: rotate(180deg);
     width: 15%;
}
.orderBtnMobile{
    padding: 1em;
    background-color: #391F44;
    border: 2px solid #AA9389;
    border-radius: .5rem;
    color: #ffffff;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 66% ;

}

@media screen and (min-width: 370px) {
    .quoteMarkUpMobile{
        top: -.1rem;
        left: -.4rem;
        
    }
  }
  @media screen and (min-width: 400px){
    .quoteMarkDownMobile{
        bottom: -.1rem;
        right: -.4rem;
        
    }
  }
  
  @media screen and (min-width: 450px) {
      
  }
  
  
  
  @media screen and (min-width: 600px) {
    .quoteMarkUpMobile{
        top: -.2rem;
        left: -.9rem;
        
    }
    .quoteMarkDownMobile{
        bottom: -.3rem;
        right: -.8rem;
        
    }
  }
  
  @media screen and (min-width: 765px) {
    .quoteMarkUpMobile{
        top: -.4rem;
        left: -.5rem;
        width: 12%;
        
    }
    .quoteMarkDownMobile{
        bottom: -.6rem;
        right: 1rem;
        width: 12%;
        /* align-items: center;
        justify-content: center; */
        
    }

    .quoteConMobile{
        padding: 2em 0.72em 2em 3em;  
    }
  }
  @media screen and (min-width: 790px) {}
      
  @media screen and (min-width: 860px) {
      
  }
  
  @media screen and (min-width: 1200px) {
      
  
      
  }
  