*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.headContainer{
    width: 100%;
    display: flex;
    position: relative;
    /* justify-content: center; */
    height: 100vh;
}
.headSection1{
    width: 50%;
    background-image: url(/public/assets/header-bacground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
.headerTitleContainer{
    width: 80%;
    padding-top: 7em;
}
.headerTitle{
    width: 100%;
}
.headerImageContainer{
    width: 50%;
    height: 100vh;
}
.headerImage{
    width: 100%;
    height: 100vh;
}

.bottmBackground{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}