.interviewCon{
    /* background-color: black; */
    position: relative;
}

.leftCorner{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 120vh;
     z-index: -1;
     transform: rotate(180deg);
     
}
.rightCorner{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 120vh;
    z-index: -1;
     transform: rotate(180deg);
}
.goldWords{
    color: gold;
}

.interviewSubCon{
display: flex;
flex-direction:column ;
justify-content: center;
align-items: center;
gap: 2rem;
color: #ffffff;
padding: 4em ;
width: 100%;
font-size: 1.5rem;
text-align: center;

}
.interviewDisplay{
    width: 50%;
    height: 60vh;
    background-color: #391F44;;
}