.interviewCon{
    /* background-color: black; */
    position: relative;
}

.leftCorner{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 82.5vh;
     z-index: -1;
     transform: rotate(180deg);
     
}
.rightCorner{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
     transform: rotate(180deg);
}


.interviewSubCon{
display: grid;
place-items: center;
color: #ffffff;
padding: 4em ;
width: 100%;

}
.interviewDisplay{
    width: 50%;
    height: 50vh;
    background-color: #391F44;;
}