.navDesktop{
    background-color: #381E39;
    
}
.navListDesktop{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 1.5em;
    font-size: 1.2rem;
}
.navListDesktop li{
    cursor: pointer;
}

.linkDesktop{
    text-decoration: none;
    color: goldenrod;
}